body{
    font-family: Arial, sans-serif;
    background-color: rgba(68, 93, 255, 0.267);
    margin: 20px;
}

h1{
    text-align: center;
    color: navy;
}

form{
    background: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    background: navy;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    text-align: center;
    margin-top: 20px;
}